.center {
  margin-top: 30vh;
}

.spacing {
  margin: 3%;
}

.inputStyle {
  width: 45%;
  font-size: 20pt;
  border-radius: 10px 10px 10px 10px;
  border: 3px rgb(121, 121, 134) solid;
}

.desc {
  padding-bottom: 3%;
}

.saveBtn {
  margin: 2vh;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: black;
  color: whitesmoke;
  font-size: 20pt;
}

.cancelBtn {
  margin: 2vh;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: whitesmoke;
  font-size: 20pt;
}