.myProjectsHeader {
  text-align: center;
  margin-top: 10vh;
  color: whitesmoke;
}

.sideBar {
  background-color: #2b2a2e;
  flex-grow: 1;
  border-radius: 0 40px 0 0;
  margin-top: 5vh
}

.addProjectBtn {
 margin-top: 5vh;
 padding-left: 10px;
 padding-right: 10px;
 border-radius: 10px 10px 10px 10px;
 background-color: whitesmoke;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.btnText {
  font-size: 15pt;
}