.myProjectsHeader {
  text-align: center;
  margin-top: 10vh;
  color: whitesmoke;
}

.sideBar {
  background-color: #2b2a2e;
  flex-grow: 1;
  border-radius: 0 40px 0 0;
  margin-top: 5vh
}



.flexCenter {
  display: flex;
  justify-content: center;
}

.projectBtns {
  text-align: center;
   color : white;
   font-size: 23pt;
}

.projectBtns:hover {
  color: rgb(207, 250, 199);
  cursor: pointer;
}
