/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
  background-color: rgb(202, 212, 212);
}

.flex {
  display: flex;
}

.mainFlex {
  display: flex;
  background-size: 100% auto;
}

.main {
  flex-grow: 4;
  height: 100vh;
}